.section-2021 {

	&-one {

		@include mq(tablet) {

			.column:first-child {

				> * {
					max-width: 90%;
				}
			}
		}

		.column:last-child {
			position: relative;
			padding-top: $gutter;
			padding-bottom: 85%;

			@include mq(tablet) {
				padding-top: 0;
				padding-bottom: 60%;
			}
		}

		&-graphic {
			// max-width: 124vw;
			// margin-left: -12vw;

			// @include mq(tablet) {
			// 	max-width: 58vw;
			// 	margin-right: -10vw;
			// 	margin-left: 0;
			// }

			// @include mq(desktop) {
			// 	max-width: 61.1vw;
			// 	margin-left: -12vw;
			// }

			&--container {
				position: absolute;
				left: -15%;
				width: 131.5%;
				height: 0;
				padding-bottom: 81%;

				@include mq(tablet) {
					left: -39%;
					width: 190%;
					padding-bottom: 117.604%;
				}

				@include mq($until: layout, $from: tablet) {
					right: -42vw;
					left: auto;
				}

				img {
					position: absolute;
					border-radius: 4px;
				}

				img:nth-child(1) {
					top: 4.016%;
					left: 19.709%;
					// width: 30%;
				}
			}

		}

		h1 {
			margin-bottom: $spacing--l;
		}

		.button {
			margin-top: $spacing--l;
		}
	}

  &-map {  
    position: relative;
    padding-bottom: 0;
    .map-number {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      span:nth-child(1) {
        color: $color--primary !important;
        text-align: center;
        font-weight: bold;
        transition: font-size 200ms ease;
        font-size: 15rem;
        line-height: 0;
        margin: 100px auto auto;
        @include mq(tablet) {
          margin: auto;
          font-size: 25rem;
        }
        @include mq(desktop) {
          font-size: 35rem;
        }
        display: block;
        position: relative;
      }
      span:nth-child(2) {
        font-weight: bold;
        text-align: center;
        display: block;
        position: relative;
        font-size: 3rem;
        margin: 60px auto 0;
        @include mq(tablet) {
          font-size: 4rem;
          margin: -60px auto 0;
        }
        @include mq(desktop) {
          font-size: 5rem;
          margin: -100px auto 0;
        }
      }
    } 
  }

  &-bg-church {
    background: url(../img/2021/bg-church.png) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0;
    overflow: hidden;
    filter: brightness(0.3);
    z-index: 0;
    background-position: bottom center;
  }
  // &:after {
  //   position: absolute;
  //   top: 0;
  //   right: 100%;
  //   bottom: 0;
  //   width: 100vw;
  //   content: "";
  //   background-color: $color--overlay;
  // }

	&-two {
    padding-top: 0;
    padding-bottom: 12rem;
		.grid-icons {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
      grid-gap: 40px 20px; 
      .media-text--content {
        margin: 0 auto;
      }
    }
	}

	&-three {
	  margin-top: -10vw;
    position: relative;
    .video-grid {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
      grid-gap: 40px 20px;
      .video-grid-item {
        height: 200px;
        display: inline-block;
        height: 200px;
        aspect-ratio: 16 / 9;
        transition: all 200ms ease;
        filter: grayscale(100%);
        position: relative;
        text-decoration: none;
        border-radius: 4px;
        &:hover {
          filter: grayscale(0%);
          border-radius: 0px;
        }
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
        &:after {
          display: block;
          content: ' ';
          background-image: url('../img/icons/play.svg');
          background-size: 28px 28px;
          height: 28px;
          width: 28px;
          position: absolute;
          z-index: 1;
          top: 47%;
          left: 47%;
        }
      }
    }
  }

  &-judges {
    .judge-grid {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
      grid-gap: 20px;
    }
    
    .judge-card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img {
        border-radius: 50%;
        object-fit: cover;
        aspect-ratio: 1;
        height: 120px;
      }
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;
        span {
          &:nth-child(1) {
            color: #000;
            font-size: 2rem;
          }
          &:nth-child(2) {
            color: #C1B3AC;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  &-stories {
    .card-story {
      img {
        filter: brightness(1.15) saturate(1.15);
      }
    }
  }
}
