.section-thank-you {

	&-one {
		color: $color--white;
		background: url("../img/thank-you/hack-thank-you-hero.jpg") center/cover no-repeat;

		@include hero();

		.wrap {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 50vw;
			min-height: 50rem;
			max-height: 70rem;
		}

		+ .template-parts-testimonials {
			margin-top: -4rem;
		}
	}
}
