.row {
	display: flex;
	flex: 1 0 100%;
	flex-wrap: wrap;

	@include margin(0 -1 * ($gutter / 2));
}

.column {
	width: 100%;

	@include padding( 0 $gutter / 2 );

	@include mq($until: tablet) {

		&:not(:last-child) {
			margin-bottom: $gutter;
		}
	}

	&.align-center {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.full-width {
	width: 100%;
}

.full-width-mobile {

	@include mq($until: tablet) {
		margin-right: -$layout--pading-mobile;
		margin-left: -$layout--pading-mobile;
	}
}

@include mq(tablet) {

	.one-half,
	.two-fourths,
	.three-sixths {
		width: 50%;
	}

	.one-third,
	.two-sixths {
		width: 33.333%;
	}

	.one-fourth {
		width: 25%;
	}

	.one-fifth {
		width: 20%;
	}

	.one-sixth {
		width: 16.666%;
	}

	.two-thirds,
	.four-sixths {
		width: 66.666%;
	}

	.two-fifths {
		width: 40%;
	}

	.three-fourths {
		width: 75%;
	}

	.three-fifths {
		width: 60%;
	}

	.four-fifths {
		width: 80%;
	}

	.five-sixths {
		width: 83.333%;
	}

	.seven-twelfths {
		width: 58.333%;
	}

	.offset-1 {
		margin-left: $column--width;
	}

	.offset-2 {
		margin-left: $column--width * 2;
	}
}
