.section-challenge {

	&-one {
		display: flex;
		min-height: 62rem;
		padding: 0;
		color: $color--white;
		background-position: center;
		background-size: cover;
		@include mq(tablet) {
			min-height: 62rem;
		}

		@include overlay();

		.wrap {
			position: relative;
			z-index: 1;
			display: flex;
			align-items: center;
			height: inherit;
		}

		&-title {
			margin: 2rem 0;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: row;
			h1 {
				color: $color--white;
				width: initial;
				// @include mq(tablet) {
				// 	width: 50%;
				// }
				margin-bottom: 0;
			}
			h2 {
				margin-bottom: 1.6rem;
			}
			p {
				margin-bottom: 0;
			}
		}

		&-presenters {
			position: absolute;
			left: $gutter;
			bottom: $gutter;
			text-align: left;

			p {
				margin: 0 0 1rem;
				font-weight: $font-weight--bold;
			}

			&--items {
				display: flex;
				column-gap: 1rem;
				a {
					background-color: $color--white;
					border-radius: var(--border-radius);
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 8px 16px;
					margin-right: auto;
					img {
						display: inline-block;
						width: auto;
						max-width: 30rem;
						height: auto;
						max-height: 12rem;
						margin-right: auto;
					}
				}
			}
		}
	}

	&-two {

		&-box {
			padding: $gutter * 2 $gutter $gutter;
			margin: 0 0 $gutter * 2;

			@include card();

			&-icon {
				align-self: center;
				margin: 0 0 2rem;
			}

			a[download] {
				display: inline-flex;
				column-gap: 0.5rem;
				align-items: center;
				font-weight: $font-weight--bold;
				color: $color--text;
				text-decoration: none;
				text-transform: uppercase;

				@include hover-focus {
					color: $color--primary;
					text-decoration: none;
				}

				&:before {
					font-size: 1.4rem;

					@include icon("\f019", 700);
				}
			}
		}

		&-poc {

			img {
				display: inline-block;
				height: auto;
				border-radius: 4px;
			}

			.row {
				margin: 0 0 $gutter;
			}
		}
	}
}
