$spacing--xxxs: 0.25rem;
$spacing--xxs: 0.5rem;
$spacing--xs: 1rem;
$spacing--s: 1.5rem;
$spacing--m: $gutter;
$spacing--l: 3.5rem;
$spacing--xl: 5rem;
$spacing--xxl: 7rem;
$spacing--xxxl: 9rem;

$spacing--1x: $gutter;
$spacing--2x: $gutter * 2;
$spacing--3x: $gutter * 3;
$spacing--4x: $gutter * 4;

$spacing: (
	xxxs: $spacing--xxxs,
	xxs: $spacing--xxs,
	xs: $spacing--xs,
	s: $spacing--s,
	m: $spacing--m,
	l: $spacing--l,
	xl: $spacing--xl,
	xxl: $spacing--xxl,
	xxxl: $spacing--xxxl,

	1x: $spacing--1x,
	2x: $spacing--2x,
	3x: $spacing--3x,
	4x: $spacing--4x
);
