.section-index {

	&-hero {

		@include hero();

	}

	&-posts {

		.wrap {
			display: flex;
			flex-wrap: wrap;
		}

		.hentry {
			display: flex;
			flex: 1 0 100%;
			flex-direction: column;
		}
	}
}
