@import "bourbon";
@import "~sass-mq";
@import "~sal.js/dist/sal.css";
@import "~lity/dist/lity.min.css";
@import "normalize.css";
@import "settings/settings";
@import "tools/tools";
@import "utilities/utilities";
@import "base/base";
@import "objects/objects";
@import "components/components";
@import "templates/templates";
@import "plugins/plugins";

body {
	background: $viewport-background-color;
	--sal-duration: 0.625s;
	--sal-easing: ease-in-out;
}

