.section-location-video {

	&-one {
		.form-card {
      border-radius: 4px;
      background: $color--white;
      padding: 3.2rem;
			display: block;
			margin: $spacing--xl 0 -24vw;
			border-radius: 4px;
      .gform_wrapper.gravity-theme {
        margin: 0 !important;
      }
      .form-disclaimer {
        font-size: 1.4rem;
        opacity: 0.7;
        max-width: 300px;
        margin: 0;
      }

			@include mq(tablet) {
				margin: $spacing--xl 0 -20rem;
			}
		}
	}

	&-two {
    min-height: 20vh;
	}
}
