.section-projects {

	&-one {

	}

	&-two {

		a:not(.button) {
			color: $color--text;
		}

		.column {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			@include mq(tablet) {
				padding-right: 5rem;
			}
		}

		.media-text {
			margin: 0 0 $spacing--m;
		}
	}
}
