.section-partner {

	&-one {

		@include mq(tablet) {

			.column:first-child {

				> * {
					max-width: 95%;
				}
			}
		}

		.column:last-child {
			position: relative;
			padding-top: $gutter;
			padding-bottom: 85%;

			@include mq(tablet) {
				padding-top: 0;
				padding-bottom: 60%;
			}
		}

		&-graphic {
			// max-width: 124vw;
			// margin-left: -12vw;

			// @include mq(tablet) {
			// 	max-width: 58vw;
			// 	margin-right: -10vw;
			// 	margin-left: 0;
			// }

			// @include mq(desktop) {
			// 	max-width: 61.1vw;
			// 	margin-left: -12vw;
			// }

			&--container {
				position: absolute;
				left: -15%;
				width: 131.5%;
				height: 0;
				padding-bottom: 81%;

				@include mq(tablet) {
					left: -39%;
					width: 190%;
					padding-bottom: 117.604%;
				}

				@include mq($until: layout, $from: tablet) {
					right: -42vw;
					left: auto;
				}

				img {
					position: absolute;
				}

				img:nth-child(1) {
					top: 4.016%;
					left: 19.709%;
					width: 39.419%;
				}

				img:nth-child(2) {
					right: 0;
					width: 39.419%;
				}

				img:nth-child(3) {
					bottom: 8.171%;
					left: 0%;
					width: 25.511%;
				}

				img:nth-child(4) {
					bottom: 0;
					left: 26.877%;
					width: 43.088%;
				}
			}

		}

		h1 {
			margin-bottom: $spacing--l;
		}

		.button {
			margin-top: $spacing--l;
		}
	}

	&-two {

		h2 span {
			color: inherit;
		}

		&-container {
			padding: 5rem $layout--padding-mobile;
			margin: 0 -$layout--padding-mobile;
			border-radius: 4px;

			@include mq(tablet) {
				padding: 5rem 0;
				margin: 0;
			}
		}

		&-stats {
			margin: 5rem 0 0;

			&--stat {
				display: flex;
				align-items: center;
				margin: 0 0 2.5rem;

				&-image {
					flex: 0 0 20%;
					text-align: center;
				}

				&-count {

					@extend h2;
					flex: 0 0 20%;
					padding: 0 0 0 $gutter;
					margin: 0;
				}

				&-data {
					flex: 1;

					h3 {
						margin: 0;
					}
				}
			}
		}

		&-cities {
			padding: $spacing--xxl $gutter;
			border-radius: 4px;

			h3 {
				margin: 0 0 $spacing--xl;
				text-align: center;
			}

			&--city {
				display: flex;
				align-items: center;
				padding: 0 0 0 $gutter;
				margin: 0 0 2.5rem;

				@include mq(tablet) {
					padding: 0 0 0 $spacing--xl;
				}

				span {
					margin: 0 0 0 $gutter;

					@include mq(tablet) {
						margin: 0 0 0 $gutter * 2;
					}
				}
			}

			p {
				text-align: center;
			}

			a {
				color: $color--text;
			}
		}
	}

	&-three {

		h2 {
			margin: $spacing--xl 0;
			font-weight: $font-weight--regular;

			@include mq(tablet) {
				margin: 0 0 $spacing--xxl;
				text-align: center;
			}
		}

		&--items {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			@include mq(tablet) {
				padding: 0 5rem;
			}

			&-item {
				flex: 1 0 100%;
				margin: 0 0 5rem;

				@include mq(tablet) {
					flex: 0 0 44%;
				}
			}
		}
	}

	&-nine {
		padding-bottom: 1rem;

		&-works-grid {
			margin: 0 0 5rem;

			@include mq(tablet) {
				display: grid;
				grid-template-areas:
					"lg lg ."
					". . ."
					". . .";
				grid-template-rows: 1fr 1fr 1fr;
				grid-template-columns: 1fr 1fr 1fr;
				grid-auto-rows: 1fr;
				gap: $gutter $gutter;

				&:before {
					grid-row: 1 / 1;
					grid-column: 1 / 1;
					width: 0;
					padding-bottom: 100%;
					content: "";
				}
			}

			&--item {
				padding: ($gutter *2) $gutter;
				margin-bottom: $gutter * 2;
				border-radius: 4px;

				@include mq(tablet) {
					padding: 6rem 3.5rem 2rem;
					margin-bottom: 0;
				}

				&:first-child {
					grid-area: lg;
					min-height: 18rem;
					padding: $gutter;
					background: url(../img/hack-lead-how-works.jpg) center no-repeat;
					background-size: cover;

					@include mq(tablet) {
						padding: 4rem 3.2rem;
					}
				}

				&:last-child {
					text-align: left;

					span {
						color: inherit;
					}
				}

				h3 {
					margin-bottom: 2rem;
				}

				.numbered-outline {
					display: inline-block;
					margin-bottom: 5.5rem;
				}
			}
		}
	}

	&-four {
		height: 73vw;
		background: url(../img/hack-lead-break.jpg) center/cover no-repeat;

		@include mq(tablet) {
			height: 656px;
		}
	}

	&-five {

		&-sidebar {
			padding: $spacing--xl $layout--padding-mobile;
			margin-top: -$spacing--xxxl;
			margin-bottom: $spacing--l;
			border-radius: 4px;

			@include mq(tablet) {
				padding: $spacing--xl;
			}
		}

		&-callout {
			display: flex;
			margin: 0 0 $spacing--xl;

			@include mq(tablet) {
				margin: 0 0 $gutter;
			}

			> :not(:first-child) {
				flex: 1;

				@include mq(tablet) {
					margin: 0 0 0 $spacing--l;
				}
			}

			&--img {

				@include mq($until: tablet) {
					display: none;
				}
			}
		}
	}

	&-six {
		position: relative;
		display: flex;
		align-items: center;
		background: url(../img/hack-lead-break-2.jpg) center/cover no-repeat;

		@include mq(tablet) {
			height: 73vw;
		}

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: "";
			background: rgba(0, 0, 0, 0.5);
		}

		@include mq(tablet) {
			height: 656px;
		}

		h3 {
			width: 100%;
			max-width: 52.5rem;
			margin: -1em auto $spacing--xl;
		}

		.wrap {
			position: relative;
			z-index: 1;

			@include mq(tablet) {
				text-align: center;
			}
		}
	}

	&-seven {

		&-sidebar {
			padding: $spacing--xl $gutter;
			margin-bottom: $spacing--l;
			border-radius: 4px;

			@include mq(tablet) {
				padding: $spacing--xl;
			}
		}

		&-item {
			display: flex;
			margin: 0 0 $spacing--xxl;

			&--li {
				display: inline-flex;
				flex: 1 0 auto;
				align-items: center;
				justify-content: center;
				width: 6rem;
				height: 6rem;
				margin: 0 3rem 0 0;
				font-size: 3rem;
				font-weight: $font-weight--bold;
				border-radius: 50%;
			}
		}
	}

	&-ten {

		@include mq(tablet) {
			padding-top: $spacing--xxxl;
			text-align: center;
		}

		h2 {
			margin: 0 0 $spacing--xl;
		}
	}
}
