.accordion {
	position: relative;
	margin: 0 0 $gutter;
	border: 1px solid $color--text;
	border-radius: 4px;

	&.border-none {
		border: none;
	}

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $gutter / 2 $gutter;
		cursor: pointer;
		border-radius: 4px;

		span {
			display: flex;
			align-items: center;

			@extend h3;
			margin: 0;

			@include transition();

			&.is-large {

				@extend h2;
				margin: 0;
			}
		}

		a {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex;
			align-items: center;
			padding: $gutter / 2 $gutter;
		}

		img {
			margin: 0 $gutter 0 0;
		}

		.is-active & {
			color: $color--primary;
		}

		.has-children & {

			&:after {
				display: block;
				width: 2rem;
				height: 2rem;
				font-size: 2rem;
				line-height: 1.2;
				text-align: center;

				@include icon("\f067", 900);
				@include transition();
			}
		}

		.has-children.is-active &:after {
			color: $color--primary;

			@include icon("\f068", 900);
		}

	}

	&-content {
		display: none;
		padding: 0 $gutter $gutter;
		margin: $spacing--xs 0 0;
	}

	&.events {
		border: initial;
		border-bottom: 2px solid rgba($color--text, 0.25);
		@include transition();
		&.is-active {
			border-bottom: 2px solid rgba($color--primary, 0.5);
		}
		.accordion-header {
			font-weight: 700;
		}

		.event-item {
			background-color: rgba(#DEDBD7, 0.6);
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: row;
			padding: 1.6rem;
			border-radius: 	var(--border-radius);
			transition: all 200ms ease;
			text-decoration: none;
			margin-bottom: 3.2rem;
			box-shadow: 0 3px 7px rgba(0, 0, 0, 0.0);
			color: $color--text;
			&:hover {
				box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
			}
		}
		
		.event-date {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			border-radius: 	var(--border-radius);
			background-color: $color--white;
			color: $color--text;
			padding: 0.8rem;
			min-width: 74px;
			min-height: 74px;
			text-decoration: none;
		}
		
		.event-meta {
			margin-left: 1.6rem;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			width: 100%;
			text-decoration: none;
			color: $color--text;
		}
		
		.event-details {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
			width: 100%;
			text-decoration: none;
			color: $color--text;
			.event-button {
				border-radius: 	var(--border-radius);
				background-color: $color--primary;
				color: $color--white;
				padding: 0.4rem 0.8rem;
				font-weight: bold;
			}
		}
	}
	&.judges {
		border: none;
		&.is-active {
			.toggle-readmore::after {
				content:'Read Less -';
				color: #000;
			}
		}
		.accordion-header::after {
			all: initial;
		}
		.has-children & {

			&:after {
				all: initial;
			}
		}

		.has-children.is-active &:after {
			all: initial;
		}

		.toggle-readmore {
			font-size: 1.2rem;
			padding: 1.2rem 1.6rem;
			opacity: 0.75;
			border: 1px solid rgba(#000, 0.75);
			text-align: center;
			border-radius: 4px;
			span {
				text-align: center;
				width: 100%;
			}
				margin: 0 auto;
			&:after {
				content:'Read More +';
				color: black;
				width: 100%;
				@include transition();
			}
		}
	}

	&.slide-judge {
		border: none;
		&.is-active {
				.toggle-readmore::after {
					content:'Read Less -';
					color: #fff;
				}
		}
		.accordion-header {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			cursor: pointer;
			padding: 0;
			border-radius: 4px;
			flex-direction: column;
		}
		.accordion-header::after {
			all: initial;
		}
		.has-children & {

			&:after {
				all: initial;
			}
		}

		.has-children.is-active &:after {
			all: initial;
		} 

		.toggle-readmore-wrapper {
			margin-top: auto ;
		}
		.toggle-readmore {
			font-size: 1.2rem;
			padding: 1.2rem 1.6rem;
			opacity: 0.75;
			border: 1px solid rgba(#fff, 0.75);
			text-align: center;
			border-radius: 4px;
			span {
				text-align: center;
				width: 100%;
			}
				margin: 0 auto;
			&:after {
				content:'Read More +';
				color: #fff;
				width: 100%;
				@include transition();
			}
		}
		&.is-active & {
			.toggle-readmore::after {
				content:'Read Less -';
				color: #fff;
			}
		}
	}
	&.video-tips {
		margin: 0 0 0 0;
		.accordion-header {
			color: #1D0D01;
			font-weight: bold;
		}
		.video-tip {
			background: rgba(#DEDBD7, 0.6);
			border-radius: 4px;
			padding: 1.6rem;
			margin-bottom: 1.6rem;
			.vt-header {
				display: flex;
				align-items: center;
				flex-direction: row;
				margin-bottom: 0.8rem;
				img {
					margin-right: 8px;
				}
				span {
					font-weight: bold;
					color: #1D0D01;
				}
			}
			.vt-content {
				color: #1D0D01;
			}
		}
	}
}
