.card {
	margin: 0 0 $spacing--xxl;

	@include card();

	a:not(.card--meta-term) {
		color: $color--text;
		text-decoration: none;

		@include hover-focus {
			color: $color--primary;
		}
	}

	&-container {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden;
		border-radius: 4px;

		@include transition();
	}

	&--image {
		position: relative;
		display: block;
		height: 0;
		padding-bottom: 56.25%;
		overflow: hidden;

		&.placeholder {
			background-color: $color--dark;
		}

		img {
			position: absolute;
			min-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&--meta {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 0;
		padding: 0 $gutter;

		&-term {
			padding: 0.6rem $gutter;
			font-weight: $font-weight--bold;
			line-height: 1.25;
			color: $color--text;
			text-decoration: none;
			text-transform: uppercase;
			background-color: $color--blue;
			border-radius: 4px;

			@include hover-focus {
				color: $color--text;
				background-color: $color--blue-light;
			}

			[class^="fa"] {
				margin-right: 1rem;
			}
		}
	}

	&--content {
		padding: $gutter * 1.5 $gutter;
	}

	&--actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 0 $gutter $gutter * 1.5;
		margin-top: auto;

		&-download {
			margin-right: auto;
		}

		[class^="fa"] {
			margin-top: -0.2rem;
			margin-right: 0.25rem;
			font-size: 1.4rem;
			vertical-align: middle;
		}
	}

	&-story {
		background-position: center;
		background-size: cover;

		@include card();

		@include mq($until: tablet) {
			height: auto;
		}

		h3 {

			:last-child {
				margin: 0;
			}
		}

		&.format-video {

			@include overlay();

			h3 {
				margin-top: auto;
			}
		}

		&--content {
			position: relative;
			z-index: 1;
			display: flex;
			flex-direction: column;
			height: 100%;
			padding: $gutter * 2;
			margin-top: $spacing--xxxl;

			&-header {
				position: absolute;
				top: $gutter * 2;
				margin: -$spacing--xxxl 0 0;

				img {
					margin: 0 $gutter 0 0;
				}
			}

			&-thumbnail {
				margin: auto 0 0;
				overflow: hidden;
				border-radius: 4px;

				img {
					display: block;
					height: 10rem;
					object-fit: cover;
				}
			}

			&-play {
				position: absolute;
				top: 20%;
				left: 50%;
				transform: translate(-50%, 0);

				@include transition();
				@include triangle("right", 4rem, 4.5rem, $color--white);
			}

			&-rendered {
				display: none;

				.lity & {
					display: block;
				}

				&-header {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					margin: 0 0 $gutter * 2;

					@include mq(tablet) {
						justify-content: flex-end;
					}

					h1 {
						margin: 0 auto 0 0;

						@include mq($until: tablet) {
							flex-basis: 100%;
							margin: 0 0 $gutter;
						}
					}
				}
			}
		}
	}
}
