.nav-primary {
	transition: all ease-in-out 0.2s;

	@include mq($until: tablet) {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		max-width: 75%;
		height: 100%;
		visibility: hidden;
		background-color: #dedbd7;
		opacity: 0;
		transform: translate3d(-100%, 0, 0);

		&.is-active {
			visibility: visible;
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}

	@include mq(tablet) {
		display: flex;
		align-items: center;
	}

	> .menu-item {

		@include mq(tablet) {
			padding: 1.5rem 1.5rem;
		}

		@include mq(desktop) {
			padding: 1.5rem 3.5rem;
		}

		> a {
			padding: $spacing--xxxs 0;
			text-transform: uppercase;

			@include mq($until: tablet) {
				padding: $gutter;
			}
		}

		&:last-child {
			padding-right: 0;

			.sub-menu {
				right: 0;
				left: auto;
			}
		}
	}

	.menu-item {
		position: relative;

		@include mq(tablet) {

			&.current-menu-item > a,
			> a:hover,
			> a:focus {
				border-bottom-color: $color--primary;
			}
		}

		&-button > a {
			padding-right: $spacing--s;
			padding-left: $spacing--s;
			color: $color--white;
			background: $color--primary;
			border-radius: 4px;

			@include mq($until: tablet) {
				justify-content: center;
				margin: 0 $gutter;
			}
		}
	}

	a {
		display: flex;
		align-items: center;
		font-weight: $font-weight--bold;
		color: $color--gray;
		text-decoration: none;
		white-space: nowrap;
		border-bottom: 2px solid transparent;
	}

	.sub-menu {
		display: none;
		width: auto;
		margin: 0 0 $gutter;

		.menu-item > a {

			@include mq($until: tablet) {
				padding: 1rem $gutter * 2.5;
			}
		}

		@include mq(tablet) {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 50;
			padding: 1.5rem 3rem;
			margin: 0;
			background-color: #dedbd7;
			border-radius: 4px;
			box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);

			.menu-item {
				padding: 0.85rem 0;
				font-size: 2.4rem;
			}

			&:before {
				position: absolute;
				right: 4px;
				bottom: 100%;
				width: 0;
				height: 0;
				content: "";
				border-color: transparent transparent #dedbd7 transparent;
				border-style: solid;
				border-width: 0 10px 10px 10px;
			}
		}
	}


	.menu-item-has-children {

		> a {

			@include arrow();
		}

		&:hover .sub-menu {
			display: block;
		}
	}

}
