.story {

	.archive & {
		padding-bottom: $spacing--s;
		margin: 0 0 $spacing--l;
		border-bottom: 1px solid $color--muted;
	}

	&-header {
		display: flex;
		align-items: center;
		margin: 0 0 $gutter;

		h3 {
			margin: 0;
		}

		img {
			margin: 0 $gutter 0 0;
		}
	}

	&-content {

		a {
			color: $color--text;
			text-decoration: underline;
		}
	}
}
