.template-parts {

	&-projects {
		padding: $gutter 0;

		.wrap {
			position: relative;

			@include mq($until: tablet) {
				padding-bottom: $spacing--xl;
			}
		}

		&-slider {


			&--item {
				display: flex;

				iframe {
					width: 100%;
					height: 55vw;
					border-radius: 4px;

					@include mq(tablet) {
						height: 440px;
					}
				}

				.row {

					@include mq($until: tablet) {
						flex-direction: column-reverse;
					}

					.column:first-child {
						position: relative;
					}
				}

				&-content {
					display: flex;
					flex-direction: column;
					height: 100%;
					padding: $gutter * 2 0;
					text-align: center;

					@include mq(tablet) {
						padding: 4.5rem 6rem;
						text-align: left;
					}

					> *:last-child {
						margin-top: auto;
						margin-bottom: auto;
					}

					&-title {
						display: flex;
						align-items: center;
						justify-content: center;
						margin: 0 0 $gutter;

						@include mq(tablet) {
							justify-content: flex-start;
						}

						h3 {
							margin: 0 0 0 $gutter;
						}

						img {
							width: 26px;
						}
					}
				}
			}

			.slick-list {
				overflow: visible;
			}
		}

		.slick-carousel-pagination {
			justify-content: center;

			@include mq(tablet) {
				position: absolute;
				right: 0;
				bottom: $gutter;
				justify-content: flex-start;
				width: 33%;
				padding: 0 6rem;
			}
		}

		.badge {
			position: absolute;
			top: $spacing--xxl;
			left: -($gutter / 2);
			z-index: 2;
			pointer-events: none;

			@include mq($until: tablet) {
				top: $spacing--xl;
				left: -$gutter;
				transform: scale(0.75);
			}

			&:before {
				position: absolute;
				bottom: 100%;
				left: 0;
				z-index: -1;
				display: inline-block;
				width: 16px;
				height: 23px;
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.4 11.7'%3E%3Cpath fill='%23ee5028' d='M16.4 11.7V2.5l-13 9.2z'/%3E%3Cpath d='M3.4 11.7l13-9.3V0C11.6 3.5 2 10.3 0 11.7h3.4z'/%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				transform: translateY(40%);
			}

			&--inside {
				position: relative;
				z-index: 2;
				display: inline-block;
				width: 100%;
				max-width: 100px;
				padding: $gutter;
				font-size: 1.2rem;
				font-weight: $font-weight--bold;
				line-height: 1.333;
				text-transform: uppercase;
				background: $color--white;
				border: 2px solid $color--black;
				border-radius: 4px;

				span {
					font-size: 2rem;
					color: $color--primary;
				}

				img {
					max-width: 110%;
					margin: 0 0 0.4rem;
				}
			}
		}
	}

	&-celebrate-2020 {
		text-align: center;

		h2 {
			margin-bottom: $spacing--xl;
		}

		.section {
			border-radius: 4px;
		}

		.column {

			&:last-child {
				margin-top: $spacing--l;
				text-align: left;

				@include mq(tablet) {
					padding-left: $gutter * 2;
					margin-top: 0;
				}
			}
		}

		&--data {

			&-img {
				width: auto;
				height: 64px;
				margin: 0 0 2.2rem;

				img {
					width: auto;
					max-width: 100%;
					height: auto;
					max-height: 100%;
				}
			}

			&-child {
				display: flex;
				align-items: center;
				margin: 0 $gutter $gutter;

				@include mq(tablet) {
					margin: 0 0 $gutter;
				}

				&-img {
					line-height: 0;
				}

				&-info {
					flex: 1;
					margin: 0 0 0 2.2rem;
				}
			}
		}
	}

	&-fast-facts {
		padding-bottom: $gutter;

		&-slider {
			margin-left: -($gutter / 2);

			&--item {
				width: 70vw !important;
				height: 100%;
				padding: 0 $gutter / 2;

				@include mq(tablet) {
					width: 40.9rem !important;
				}

				> * {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					height: 100%;
					padding: $gutter;
					text-align: center;
					border-radius: 4px;

					@include mq(tablet) {
						padding: 6rem;
					}

					img {
						display: inline-block;
						width: 5.8rem;
						margin: 0 0 auto;
					}

					p {
						padding: 1em 0 0;
						margin: auto 0;
					}

					a {
						color: $color--text;
					}

					@include mq($until: tablet) {

						p {
							font-size: 1.6rem;
						}
					}
				}
			}

			.slick-track {
				display: flex;
				align-items: stretch;
			}

			.slick-slide {
				display: flex;
				align-self: stretch;
				height: inherit;
			}
		}
	}

	&-testimonials {

		&-slider {
			border-radius: 4px;

			&--item {
				display: flex !important;
				align-items: center;
				justify-content: center;
				height: 400px;
				padding: 0 $gutter;
				text-align: center;

				blockquote {

					@include mq($until: tablet) {
						font-size: $base--font-size;
					}
				}
			}
		}
	}

	&-callouts {
		text-align: center;

		h2 {
			margin-bottom: $spacing--xl;
		}

		h3 + h2 {

			@include mq($until: tablet) {
				margin-top: $spacing--s;
			}
		}

		img {
			height: 6.7rem;
			margin: 0 0 2.3rem;
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			height: 100%;
			padding: $gutter * 2 $gutter;
			background-color: $color--white;

			@include mq(tablet) {
				padding: $gutter * 2 $gutter;
			}

			h3 {
				margin: 0 0 $gutter;
				line-height: 1.416;

				@include mq(tablet) {
					min-height: 6.8rem;
				}
			}

			p {
				font-size: 1.6rem;
			}

		}
	}

	&-quotes {

		.slick-slider {
			margin-bottom: 0;
		}

		&-slider--item {
			display: flex !important;
			align-items: center;
			justify-content: center;
			padding: $spacing--xl  0 $spacing--xxxl;

			blockquote {
				color: $color--white;
			}

			.wrap {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				max-width: calc(#{$layout--width} - (#{$column--width} ));
				text-align: center;

				> * {
					flex: 1 0 100%;
				}
			}
		}
	}

	&-partners {
		padding-bottom: $spacing--l;

		&-logos {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin-right: -$gutter;
			margin-left: -$gutter;

			@include mq(tablet) {
				margin: 0;
			}

			> * {
				display: block;
				flex: 0 0 33.333%;
				padding: $gutter;
				text-align: center;

				@include mq(tablet) {
					flex: 0 0 14.285%;
					padding: 2rem $gutter * 2;
				}
			}
		}

		img {
			display: block;
			width: auto;
			height: auto;
			max-height: 6rem;

			@include margin(null auto);
		}
	}

	&-global-participation {

		.media-text {
			margin: $spacing--l 0 0;
		}

		.column.one-fourth {

			@include mq($until: tablet) {
				width: 50%;
			}
		}

		.view-all {
			display: flex;
			align-items: center;

			p {
				margin: $spacing--l 0 0;
			}

			a {
				font-weight: $font-weight--bold;
				color: $color--text;
			}
		}

		.media-text--img img {
			filter: saturate(1.15) brightness(1.15);

			@include mq($until: tablet) {
				display: block;
				width: 3rem;
				margin-top: -2.5rem;
			}
		}
	}

	&-downloads {

		a {
			display: inline-block;
			margin: $spacing--xxs 0;
			line-height: 1.4;
			color: inherit;
			text-decoration: none;
			border-bottom: 2px solid;

			@include hover-focus {
				color: $color--primary;
			}
		}

		.column.two-thirds {

			@include mq(tablet) {
				padding-left: $spacing--xl;
			}
		}
	}

	&-map {
		display: flex;
		flex-direction: column;
		height: 50.138vw;
		padding: 0;
		margin: 0 0 $spacing--xxl;
		background-image: url("../img/home/hack-home-earth.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@include mq(wide) {
			height: 72.2rem;
			background-size: auto;
		}

		.wrap {
			position: relative;
			max-width: map-get($mq-breakpoints, wide);
			height: 100%;
		}

		&-user {
			position: absolute;
			width: 10.138vw;
			padding: $gutter / 2;
			font-size: 1.1vw;
			background-color: $color--blue;

			&:nth-child(even) {
				background-color: $color--purple;
			}

			@include mq($until: tablet) {
				display: none;
			}

			@include mq(wide) {
				width: 14.6rem;
				font-size: 1.6rem;
			}

			h5 {
				margin: 0;
				font-size: 1.25em;

				&:before {
					display: inline-block;
					width: 1.6rem;
					height: 1.6rem;
					margin: 0 0.4rem 0 0;
					content: "";
					background-image: url("../img/indigitous-logo.svg");
					background-size: cover;
				}
			}

			p {
				margin: 0;
				font-size: 1em;
			}
		}

		+ .template-parts-callouts {
			padding-bottom: 32vw;

			@include mq(tablet) {
				padding-bottom: 33rem;
			}
		}
	}

	&-global-participation-2 {

		a {
			color: $color--text;
		}

		&-map {
			display: block;
			margin: $spacing--xl auto;

		}

		&-items {
			text-align: center;

			.column {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin: 0 0 $spacing--xl;

				@include mq($until: tablet) {
					width: 50%;

					&:last-child {
						width: 100%;
					}
				}
			}
		}
	}

	&-callouts-2 {

		&-hero {
			padding-bottom: 63%;
			color: $color--white;
			background: url("../img/location/hack-location-section-2.jpg") center/cover no-repeat;

			@include mq(tablet) {
				padding-top: $spacing--xxxl;
				padding-bottom: 49rem;
			}

			h1,
			h3 {
				margin: 0;

				@extend .intro-text;

				@include mq($until: tablet) {
					display: none;
				}
			}

			h1 {
				margin: 0 0 $spacing--m;

				span {
					color: inherit;
				}
			}
		}

		&-content {
			display: flex;
			margin-top: $spacing--xxxl * -1;

			@include mq(tablet) {
				margin-top: -49rem;
			}

			&-item {
				display: flex;
				flex-direction: column;
				height: 100%;
				padding: $gutter * 2;
				border-radius: 4px;

				> :last-child {
					padding: $spacing--l 0 0;
					margin-top: auto;
					margin-bottom: 0;
				}
			}
		}
	}
}
