.section-lead {

	&-one {

		@include mq(tablet) {

			.column:first-child {

				> * {
					max-width: 90%;
				}
			}
		}

		.column:last-child {
			position: relative;
			padding-top: $gutter;
			padding-bottom: 85%;

			@include mq(tablet) {
				padding-top: 0;
				padding-bottom: 60%;
			}
		}

		&-graphic {
			// max-width: 124vw;
			// margin-left: -12vw;

			// @include mq(tablet) {
			// 	max-width: 58vw;
			// 	margin-right: -10vw;
			// 	margin-left: 0;
			// }

			// @include mq(desktop) {
			// 	max-width: 61.1vw;
			// 	margin-left: -12vw;
			// }

			&--container {
				position: absolute;
				left: -15%;
				width: 131.5%;
				height: 0;
				padding-bottom: 81%;

				@include mq(tablet) {
					left: -39%;
					width: 190%;
					padding-bottom: 117.604%;
				}

				img {
					position: absolute;
				}

				img:nth-child(1) {
					top: 4.016%;
					left: 19.709%;
					width: 39.419%;
				}

				img:nth-child(2) {
					right: 0;
					width: 39.419%;
				}

				img:nth-child(3) {
					bottom: 8.171%;
					left: 0%;
					width: 25.511%;
				}

				img:nth-child(4) {
					bottom: 0;
					left: 26.877%;
					width: 43.088%;
				}
			}

		}

		h1 {
			margin-bottom: $spacing--l;
		}

		.button {
			margin-top: $spacing--l;
		}
	}

	&-two {

		&-works-grid {
			margin: 0 0 5rem;

			@include mq(tablet) {
				display: grid;
				grid-template-areas:
					"lg lg ."
					". . ."
					". . .";
				grid-template-rows: 1fr 1fr 1fr;
				grid-template-columns: 1fr 1fr 1fr;
				grid-auto-rows: 1fr;
				gap: $gutter $gutter;

				&:before {
					grid-row: 1 / 1;
					grid-column: 1 / 1;
					width: 0;
					padding-bottom: 100%;
					content: "";
				}
			}

			&--item {
				padding: ($gutter *2) $gutter;
				margin-bottom: $gutter * 2;
				border-radius: 4px;

				@include mq(tablet) {
					padding: 6rem 3.5rem 2rem;
					margin-bottom: 0;
				}

				&:first-child {
					grid-area: lg;
					min-height: 18rem;
					padding: $gutter;
					background: url(../img/hack-lead-how-works.jpg) center no-repeat;
					background-size: cover;

					@include mq(tablet) {
						padding: 4rem 3.2rem;
					}
				}

				h3 {
					margin-bottom: 2rem;
				}

				.numbered-outline {
					display: inline-block;
					margin-bottom: 5.5rem;
				}
			}
		}
	}

	&-three {
		height: 73vw;
		background: url(../img/hack-lead-break.jpg) center/cover no-repeat;

		@include mq(tablet) {
			height: 656px;
		}
	}

	&-four {

		&-sidebar {
			padding: $spacing--xl $gutter;
			margin-top: -$spacing--xxxl;
			border-radius: 4px;

			@include mq(tablet) {
				padding: $spacing--xl;
			}
		}

		&-callout {
			display: flex;
			margin: 0 0 $gutter;

			> :not(:first-child) {
				flex: 1;
				margin: 0 0 0 $gutter;

				@include mq(tablet) {
					margin: 0 0 0 $spacing--l;
				}
			}
		}
	}

	&-five {

		&-slider--item {
			display: flex !important;
			align-items: center;
			justify-content: center;
			padding: $spacing--xl  0 $spacing--xxxl;

			blockquote {
				color: $color--white;
			}

			.wrap {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				max-width: calc(#{$layout--width} - (#{$column--width} ));
				text-align: center;

				> * {
					flex: 1 0 100%;
				}
			}
		}
	}

	&-six {
		padding: $gutter 0;

		&-sidebar {
			position: relative;
			z-index: 1;
			height: 100%;
			padding: $spacing--xl;
			margin-bottom: $spacing--m;
			border-radius: 4px;
		}

		&-team {
			padding-bottom: $spacing--xl;

			@include mq(tablet) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			&--member {
				display: grid;
				flex: 1 0 100%;
				grid-template-areas:
					"photo label"
					"bio bio";
				grid-template-rows: auto 1fr;
				grid-template-columns: auto 1fr;
				gap: 0 0;
				margin: 6rem 0 0;

				@include mq(tablet) {
					flex: 0 0 42.857%;
				}

				&-photo {
					grid-area: photo;
					width: 85px;
					height: 85px;
				}

				&-label {
					grid-area: label;
					margin-left: $gutter;

					h3 {
						margin: 0 0 $spacing--xxxs;
					}

					h6 {
						margin: 0;
						color: $color--pink;
						text-transform: uppercase;
					}
				}

				&-bio {
					grid-area: bio;
					margin: 3rem 0 0;
				}
			}
		}
	}

	&-seven {
		position: relative;
		display: flex;
		align-items: center;
		height: 73vw;
		background: url(../img/hack-lead-break-2.jpg) center/cover no-repeat;

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: "";
			background: rgba(0, 0, 0, 0.5);
		}

		@include mq(tablet) {
			height: 656px;
		}

		h1 span {
			color: inherit;
		}

		.wrap {
			position: relative;
			z-index: 1;
			text-align: center;
		}
	}

	&-eight {

		&-slider {
			margin-right: -($gutter / 2);
			margin-left: -($gutter / 2);

			&--item {
				width: 70vw !important;
				height: 100%;
				padding: 0 $gutter / 2;

				@include mq(tablet) {
					width: 38rem !important;
				}

				> * {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					height: 100%;
					padding: $gutter;
					text-align: center;
					border-radius: 4px;

					@include mq(tablet) {
						padding: 6rem;
					}

					img {
						display: inline-block;
						width: 5.8rem;
						margin: 0 0 $spacing--xl;
					}

					@include mq($until: tablet) {

						p {
							font-size: 1.6rem;
						}
					}
				}
			}

			.slick-list {
				width: 100vw;

				@include mq(tablet) {
					width: 80vw;
				}
			}

			.slick-track {
				display: flex;
				align-items: stretch;
			}

			.slick-slide {
				display: flex;
				align-self: stretch;
				height: inherit;
			}
		}
	}

	&-nine {
		text-align: center;

		h2 {
			margin-bottom: $spacing--xl;
		}

		.section {
			border-radius: 4px;
		}

		.column {

			&:last-child {
				text-align: left;

				@include mq(tablet) {
					padding-left: $gutter * 2;
				}
			}
		}

		&--data {

			&-img {
				width: auto;
				height: 53px;
				margin: 0 0 2.2rem;

				img {
					width: auto;
					max-width: 100%;
					height: auto;
				}
			}

			&-child {
				display: flex;
				align-items: center;
				margin: 0 $gutter $gutter;

				@include mq(tablet) {
					margin: 0 0 $gutter;
				}

				&-img {
					line-height: 0;
				}

				&-info {
					flex: 1;
					margin: 0 0 0 2.2rem;
				}
			}
		}
	}

	&-ten {
		padding: $gutter 0;

		.wrap {
			position: relative;

			@include mq($until: tablet) {
				padding-bottom: $spacing--xl;
			}
		}

		&-slider {


			&--item {
				display: flex;

				iframe {
					width: 100%;
					height: 55vw;
					border-radius: 4px;

					@include mq(tablet) {
						height: 440px;
					}
				}

				.row {

					@include mq($until: tablet) {
						flex-direction: column-reverse;
					}
				}

				&-content {
					display: flex;
					flex-direction: column;
					height: 100%;
					padding: $gutter * 2 0;

					@include mq(tablet) {
						padding: 4.5rem 6rem;
					}

					> *:last-child {
						margin-top: auto;
						margin-bottom: auto;
					}

					&-title {
						display: flex;
						align-items: center;
						margin: 0 0 $gutter;

						h3 {
							margin: 0 0 0 $gutter;
						}

						img {
							width: 26px;
						}
					}
				}
			}

			.slick-list {
				overflow: visible;
			}
		}

		.slick-carousel-pagination {
			position: absolute;
			bottom: $gutter;

			@include mq(tablet) {
				right: 0;
				width: 33%;
				padding: 0 6rem;
			}
		}

		.badge {
			position: absolute;
			top: $spacing--xxl;
			left: -16px;
			z-index: 2;
			pointer-events: none;

			@include mq($until: tablet) {
				display: none;
			}

			&:before {
				position: absolute;
				bottom: 100%;
				left: 0;
				z-index: -1;
				display: inline-block;
				width: 16px;
				height: 23px;
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.4 11.7'%3E%3Cpath fill='%23ee5028' d='M16.4 11.7V2.5l-13 9.2z'/%3E%3Cpath d='M3.4 11.7l13-9.3V0C11.6 3.5 2 10.3 0 11.7h3.4z'/%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				transform: translateY(40%);
			}

			&--inside {
				position: relative;
				z-index: 2;
				display: inline-block;
				width: 100%;
				max-width: 100px;
				padding: $gutter;
				font-size: 1.2rem;
				font-weight: $font-weight--bold;
				line-height: 1.333;
				text-transform: uppercase;
				background: $color--white;
				border: 2px solid $color--black;
				border-radius: 4px;

				span {
					font-size: 2rem;
					color: $color--primary;
				}

				img {
					max-width: 110%;
					margin: 0 0 0.4rem;
				}
			}
		}
	}

	&-eleven {

		&-slider {

			&--item {
				height: 16rem;
				background-position: center;
				background-size: cover;
				border-radius: 4px;

				@include mq(tablet) {
					height: 60rem;
				}
			}

			&-captions {

				.caption {
					font-style: italic;
					color: $color--pink;
					text-align: center;

					@include mq(tablet) {
						text-align: right;
					}
				}

				&-container {
					margin: $spacing--m 0;

					.column:first-child {
						margin-bottom: 0;
					}

					@include mq($until: tablet) {
						padding-bottom: $spacing--l;
					}
				}
			}
		}

		.slick-carousel-pagination {

			@include mq($until: tablet) {
				justify-content: center;
			}
		}

	}

	&-twelve {

		&-slider {
			border-radius: 4px;

			&--item {
				display: flex !important;
				align-items: center;
				justify-content: center;
				height: 400px;
				text-align: center;

				blockquote {

					@include mq($until: tablet) {
						font-size: $base--font-size;
					}
				}
			}
		}
	}
}
