.section-location {

	&-one {

		@include mq($until: tablet) {
			padding-bottom: 0;
		}

		.wrap {

			@include mq($until: tablet) {
				padding: 0;
			}
		}

		&-wrap {

			@include overlay();
			display: flex;
			align-items: center;
			background-position: center;
			background-size: cover;

			@include mq(tablet) {
				height: 79.6rem;
				overflow: hidden;
				border-radius: 4px;
			}

			&--content {
				position: relative;
				z-index: 1;
				width: 100%;
				padding: $spacing--xl $gutter * 2;
				color: $color--white;
				text-align: left;

				@include mq(tablet) {
					position: absolute;
					padding: $spacing--xl 10rem;
				}

				* {
					color: inherit;
				}

				.location-meta-row {
					display: flex;
					align-items: center;
					justify-content: center;
					@include mq(tablet) {
						justify-content: flex-start;
					}
					.location-event-tag {
						padding: 0.8rem 1.6rem;
						border-radius: 30px;
						margin-top: 3.2rem;
						display: inline-flex;
						border: 1px solid #fff;
						letter-spacing: .5px;
						&:last-of-type {
							margin-left: 1.6rem;
						}
					}
				}

				h1 {
					display: flex;
					align-items: center;
					margin: 0 0 $spacing--m;

					img {
						margin: 0 $gutter * 1.5 0 0;
						filter: brightness(1.15) saturate(1.15);
					}
				}

				p {
					margin: 0 !important;
				}

				&-action {
					display: flex;
					flex-direction: column;
					align-items: center;

					@include mq(tablet) {
						flex-direction: row;
					}

					h3 {
						margin: $spacing--s 0 0;
						text-transform: uppercase;

						@include mq(tablet) {
							margin: 0 0 0 $gutter * 1.5;
						}
					}
				}
			}
		}
	}
}
