.section-home {

	&-one {

		@include hero();

		h1 {

			@include mq($until: mobile) {
				font-size: 2.4rem;
			}
		}

		&-buttons {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: $spacing--l 0;


			.button {
				flex: 1;
				margin: 0 $gutter / 2;

				@include mq(tablet) {
					flex: 0;
					min-width: 20rem;
				}
			}
		}
	}

	&-two {
		display: flex;
		flex-direction: column;
		height: 50.138vw;
		padding: 0;
		margin: 0 0 $spacing--xxl;
		background-image: url("../img/home/hack-home-earth.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@include mq(wide) {
			height: 72.2rem;
			background-size: auto;
		}

		.wrap {
			position: relative;
			max-width: map-get($mq-breakpoints, wide);
			height: 100%;
		}

		&-user {
			position: absolute;
			width: 10.138vw;
			padding: $gutter / 2;
			font-size: 1.1vw;
			background-color: $color--blue;

			@include mq($until: tablet) {
				display: none;
			}

			@include mq(wide) {
				width: 14.6rem;
				font-size: 1.6rem;
			}

			h5 {
				margin: 0;
				font-size: 1.25em;

				&:before {
					display: inline-block;
					width: 1.6rem;
					height: 1.6rem;
					margin: 0 0.4rem 0 0;
					content: "";
					background-image: url("../img/indigitous-logo.svg");
					background-size: cover;
				}
			}

			p {
				margin: 0;
				font-size: 1em;
			}
		}

		+ .template-parts-callouts {
			padding-bottom: 18vw;
		}
	}

	&-three {
		margin-top: -18vw;

		.row .row {
			margin-bottom: $spacing--xl;
		}
	}

	&-four {

		@include mq($until: tablet) {
			padding-bottom: 0;
		}

		.row {
			margin-top: $spacing--xxl;
		}

		&-callout {
			display: flex;
			align-items: center;
			margin: 0 0 $spacing--xl;

			@include mq(tablet) {
				margin: 0;
			}

			&--img {
				margin-right: $gutter * 2;

				img {
					margin-bottom: -0.5rem;
				}
			}

			&--content {
				flex: 1;

				span {
					color: $color--primary;

					@extend h2;
				}

				p {
					margin: 0;

					@extend h3;
				}
			}
		}
	}

	&-five {
		display: flex;
		flex-direction: column;
		height: 53.333vw;

		@include mq(tablet) {
			height: 38.333vw;
		}

		img {
			width: 100%;
		}
	}

	&-six {

		.media-text {
			margin: $spacing--l 0 0;
		}

		.column.one-fourth {

			@include mq($until: tablet) {
				width: 50%;
			}
		}

		.media-text--img img {

			@include mq($until: tablet) {
				display: block;
				width: 3rem;
				margin-top: -2.5rem;
			}
		}
	}

	&-seven {

		.row {
			position: relative;
			margin-bottom: $spacing--xl;
		}

		&-group {

			@include mq($until: tablet) {
				margin-right: -$layout--padding-mobile;
				margin-left: -$layout--padding-mobile;
			}

			img {
				display: block;
				border-radius: 4px;
			}

			&--content {
				position: relative;
				padding: $gutter * 2;
				margin-top: -$gutter;
				margin-right: $layout--padding-mobile;
				margin-left: $layout--padding-mobile;
				background-color: $color--white;
				border-radius: 4px;
				box-shadow: 0 2px 2px 0 rgba(#1e1107, 0.16);

				@include mq(tablet) {
					position: absolute;
					top: 50%;
					right: 0;
					width: 58%;
					padding: $spacing--xxl;
					margin: 0;
					transform: translateY(-50%);
				}

				.offset-1 & {
					right: auto;
					left: 0;
				}

				h2 {
					margin: 0 0 $spacing--xs;

					img {
						display: block;
						margin: 0 $spacing--l 0 0;

						@include mq(tablet) {
							display: inline-block;
						}
					}
				}

				p {
					width: 100%;
					max-width: 37rem;
					min-height: 14rem;
					line-height: 1.555;
				}

				.button {

				}
			}
		}
	}
}
