.site-content {
	display: grid;
	grid-template-areas: ".";
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: row dense;
	gap: $gutter;
	width: 100%;

	@include mq(tablet) {
		grid-template-areas: ". .";
		grid-template-columns: repeat(2, 1fr);
	}

	@include mq(desktop) {
		grid-template-areas: ". . .";
		grid-template-columns: repeat(3, 1fr);
	}

	> * {
		overflow: hidden;
	}
}
