.site-content {
	display: grid;
	grid-template-areas: ".";
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: row dense;
	gap: $gutter;

	@include mq(tablet) {
		grid-template-areas: ". .";
		grid-template-columns: 1fr 1fr;
	}

	@include mq(desktop) {
		grid-template-areas: ". . .";
		grid-template-columns: 1fr 1fr 1fr;
	}
}
